name: Build PennyLane-Qrack Wheels

on:
  push:
    branches:
      - master  # Trigger on pushes to the main branch (adjust if needed)

  workflow_dispatch: # Allow manual triggering of the workflow


jobs:
  build_noble:
    runs-on: ubuntu-24.04  # Use a Noble Numbat runner
    strategy:
      matrix:
        platform:
          - manylinux_2_39_x86_64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 2c45243b0b848b30b979f7840f969f6378019dd0

      - name: Prepare Build Environment (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ocl-icd-opencl-dev opencl-headers python3-venv ninja-build libomp-dev

      - name: Install Python Dependencies
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools pennylane-catalyst

      - name: Build Wheel
        run: |
          source venv/bin/activate
          pip install -r requirements.txt
          pip install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_jammy:
    runs-on: ubuntu-22.04  # Use a Jammy Jellyfish runner
    strategy:
      matrix:
        platform:
          - manylinux_2_35_x86_64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 2c45243b0b848b30b979f7840f969f6378019dd0

      - name: Prepare Build Environment (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ocl-icd-opencl-dev opencl-headers python3-venv ninja-build libomp-dev

      - name: Install Python Dependencies
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools pennylane-catalyst

      - name: Build Wheel
        run: |
          source venv/bin/activate
          pip install -r requirements.txt
          pip install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_focal:
    runs-on: ubuntu-20.04  # Use a Focal Fossa runner
    strategy:
      matrix:
        platform:
          - manylinux_2_31_x86_64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 2c45243b0b848b30b979f7840f969f6378019dd0

      - name: Prepare Build Environment (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ocl-icd-opencl-dev opencl-headers ninja-build libomp-dev

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools pennylane-catalyst

      - name: Build Wheel
        run: |
          pip install -r requirements.txt
          pip install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_mac_15:
    runs-on: macos-15  # Use a Mac OS runner
    strategy:
      matrix:
        platform:
          - macosx_15_0_arm64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 2c45243b0b848b30b979f7840f969f6378019dd0

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools pennylane-catalyst

      - name: Install Homebrew (MacOS)
        uses: Homebrew/actions/setup-homebrew@master

      - name: Prepare Build Environment (MacOS)
        run: |
          brew upgrade
          brew install cmake ninja libomp numpy virtualenv

      - name: Build Wheel
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          pip3 install --upgrade wheel setuptools
          pip3 install -r requirements.txt
          pip3 install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_mac_14:
    runs-on: macos-14  # Use a Mac OS runner
    strategy:
      matrix:
        platform:
          - macosx_14_0_arm64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 2c45243b0b848b30b979f7840f969f6378019dd0

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools pennylane-catalyst

      - name: Install Homebrew (MacOS)
        uses: Homebrew/actions/setup-homebrew@master

      - name: Prepare Build Environment (MacOS)
        run: |
          brew upgrade
          brew install cmake ninja libomp numpy virtualenv

      - name: Build Wheel
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          pip3 install --upgrade wheel setuptools
          pip3 install -r requirements.txt
          pip3 install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_mac_13:
    runs-on: macos-13  # Use a Mac OS runner
    strategy:
      matrix:
        platform:
          - macosx_13_0_x86_64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 2c45243b0b848b30b979f7840f969f6378019dd0

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools pennylane-catalyst

      - name: Install Homebrew (MacOS)
        uses: Homebrew/actions/setup-homebrew@master

      - name: Prepare Build Environment (MacOS)
        run: |
          brew upgrade rustup
          sudo rm /usr/local/bin/2to3-3.12
          sudo rm /usr/local/bin/idle3.12
          sudo rm /usr/local/bin/pydoc3.12
          sudo rm /usr/local/bin/python3.12
          sudo rm /usr/local/bin/python3.12-config
          brew install cmake ninja libomp numpy virtualenv python@3.12

      - name: Build Wheel
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          pip3 install --upgrade wheel setuptools
          pip3 install -r requirements.txt
          pip3 install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_mac_12:
    runs-on: macos-12  # Use a Mac OS runner
    strategy:
      matrix:
        platform:
          - macosx_12_0_x86_64
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Checkout Catalyst
        uses: actions/checkout@v4
        with:
          repository: 'PennyLaneAI/catalyst'
          path: catalyst
          ref: 2c45243b0b848b30b979f7840f969f6378019dd0

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools pennylane-catalyst

      - name: Install Homebrew (MacOS)
        uses: Homebrew/actions/setup-homebrew@master

      - name: Prepare Build Environment (MacOS)
        run: |
          brew upgrade rustup
          sudo rm /usr/local/bin/2to3
          sudo rm /usr/local/bin/2to3-3.12
          sudo rm /usr/local/bin/idle3
          sudo rm /usr/local/bin/idle3.12
          sudo rm /usr/local/bin/pydoc3
          sudo rm /usr/local/bin/pydoc3.12
          sudo rm /usr/local/bin/python3
          sudo rm /usr/local/bin/python3-config
          sudo rm /usr/local/bin/python3.12
          sudo rm /usr/local/bin/python3.12-config
          brew install cmake ninja libomp numpy virtualenv python@3.12

      - name: Build Wheel
        run: |
          mkdir venv
          python -m venv venv
          source venv/bin/activate
          pip3 install --upgrade wheel setuptools
          pip3 install -r requirements.txt
          pip3 install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

  build_windows:
    runs-on: windows-latest  # Use a Linux runner
    strategy:
      matrix:
        platform:
          - win-amd64
        dependencies: [vcpkg]
    steps:
      - name: Checkout PennyLane-Qrack
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools

      - name: Build Wheel
        run: |
          pip install -r requirements.txt
          pip install .
          python setup.py bdist_wheel --plat-name=${{ matrix.platform }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pennylane_qrack-${{ matrix.platform }}
          path: dist/

